.container {
  display: flex;
}
.colorcards {
  height: 40vh;
  width: 10vw;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 5px black;
  margin: 1.5rem;
}
.c_title {
  background-color: white;
  border: none;
  padding-left: 30px;
}
p {
  font-size: 10px;
}